.container {
    width: 100%;
    height: 98vh;
}

#map {
    height: 100%;
    width: 100%;
}

.config-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 340px;
    height: auto;
    background-color: white;
    border-radius: 12px;
    display: flex;
    padding: 18px 32px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.config-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
}

.row {
    display: flex;
    flex-direction: row;
}

input {
    font-size: 18px;
}

.col {
    display: flex;
    flex-direction: column;
}

.hide {
    display: none !important;
}

.freq-input{
    padding-top: 8px;
    font-size: 24px;
    padding-bottom: 22px;
}

.action-btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
}

.action-btn button{
    padding: 8px 16px;
}

.close-button {
    position: absolute;
    top: 12px;
    right: 12px;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    font-family: Inter, sans-serif;
}